<!DOCTYPE html>
<html>
  <head>
    <%- include('./style'); %> <%- include('./paper'); %> <%-
    include('./sheet'); %>
    <title>
      มคอ.5 - <%= reportData.course_id %> <%= reportData.course_name_en %>
    </title>
  </head>
  <body>
    <div class="page" contenteditable="true">
      <div class="heading">มคอ.5 ผลการดำเนินงานของรายวิชา</div>
      <table class="university-info">
        <tr>
          <td class="label">ชื่อสถาบันอุดมศึกษา</td>
          <td class="data"><%= reportData.university %></td>
        </tr>
        <tr>
          <td class="label">คณะ/วิทยาเขต/วิทยาลัย</td>
          <td class="data"><%= reportData.faculty %></td>
        </tr>
        <tr>
          <td class="label">ภาควิชา</td>
          <td class="data"><%= reportData.department %></td>
        </tr>
      </table>
      <div class="section-head">หมวดที่ 1 ข้อมูลทั่วไป</div>
      <div class="section1-wrap">
        <table class="course-info">
          <tr>
            <td class="num">1.</td>
            <td class="label">รหัสวิชา</td>
            <td class="data"><%= reportData.course_id %></td>
          </tr>
          <tr>
            <td class="num"></td>
            <td class="label">ชื่อวิชา</td>
            <td class="data"><%= reportData.course_name_th %></td>
          </tr>
          <tr>
            <td class="num"></td>
            <td class="label">Course Name</td>
            <td class="data"><%= reportData.course_name_en %></td>
          </tr>
        </table>
        <div class="teacher-info">
          <div class="section1-label">
            2. อาจารย์ผู้รับผิดชอบรายวิชาและอาจารย์ผู้สอน
          </div>
          <ol>
            <%reportData.teachers?.map((teacher) => {%>
            <li><%= teacher %></li>
            <%})%>
          </ol>
        </div>
        <div class="semester-info">
          <div class="section1-label">3. ภาคการศึกษา/ชั้นปีที่เรียน</div>
          <ul class="section1-ul">
            <li>ภาคการศึกษา <%= reportData.semester %></li>
          </ul>
        </div>
        <div class="prerequisite-info">
          <div class="section1-label">
            4. รายวิชาที่ต้องเรียนมาก่อน (Prerequisite) (ถ้ามี)
          </div>
          <ul class="section1-ul">
            <li><%= reportData.prerequisite || "ไม่มี" %></li>
          </ul>
        </div>
        <div class="campus-info">
          <div class="section1-label">5. สถานที่เรียน</div>
          <ul class="section1-ul">
            <%reportData.campus?.map((campus) => {%>
            <li>☑ <%= campus %></li>
            <%})%>
          </ul>
        </div>
      </div>
    </div>
    <div class="page" contenteditable="true">
      <div class="section-head">หมวดที่ 2 ผลการจัดการเรียนการสอนของรายวิชา</div>
      <div class="section2-wrap">
        <div class="section2-label">
          1. การกระจายของระดับคะแนน (Grade Distribution)
        </div>
        <table class="grade-table">
          <tr>
            <th>A</th>
            <th>B+</th>
            <th>B</th>
            <th>C+</th>
            <th>C</th>
            <th>D+</th>
            <th>D</th>
            <th>F</th>
          </tr>
          <tr>
            <td><%= reportData.grades.a %></td>
            <td><%= reportData.grades.bp %></td>
            <td><%= reportData.grades.b %></td>
            <td><%= reportData.grades.cp %></td>
            <td><%= reportData.grades.c %></td>
            <td><%= reportData.grades.dp %></td>
            <td><%= reportData.grades.d %></td>
            <td><%= reportData.grades.f %></td>
          </tr>
        </table>
        <div class="section2-label">
          2.
          การปรับปรุงการเรียนการสอนจากตามที่เสนอในรายงานของรายวิชาครั้งที่ผ่านมา
        </div>
        <ul class="section2-improve">
          <%reportData.improveFromLast?.map((improve) => {%>
          <li><%= improve %></li>
          <%})%>
        </ul>
        <div class="section2-label">3. ผลการเรียนรู้และการประเมินผล</div>
        <table class="result-table">
          <thead>
            <tr>
              <th style="width: 20%">ผลการเรียนรู้</th>
              <th style="width: 25%">
                ข้อบ่งชี้ผลการเรียนรู้
                (บรรลุผลการเรียนรู้เมื่อนักศึกษาไม่น้อยกว่า 70%
                สามารถทำได้หรือผิดเล็กน้อย)
              </th>
              <th style="width: 25%">ผลการประเมินผลการเรียนรู้</th>
              <th style="width: 10%">บรรลุ</th>
              <th style="width: 10%">มคอ.2</th>
              <th style="width: 10%">PLO</th>
            </tr>
          </thead>
          <tbody>
            <%reportData.results?.map((item) => {%>
            <tr>
              <td>
                <span><%= item.num %></span>
                <span><%= item.title %></span>
              </td>
              <td>
                <%item.works?.map((work) => {%>
                <div><%= work %></div>
                <%})%>
              </td>
              <td>
                <%item.percent?.map((ele) => {%>
                <div><%= ele %>%</div>
                <%})%>
              </td>
              <td class="tx-center"><%= item.isPass ? "Y" : "N" %></td>
              <td class="tx-center">
                <%item.tqf?.map((ele) => {%>
                <div><%= ele %></div>
                <%})%>
              </td>
              <td class="tx-center">
                <%item.plo?.map((ele) => {%>
                <div><%= ele %></div>
                <%})%>
              </td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </div>
    <div class="page" contenteditable="true">
      <div class="section-head">หมวดที่ 3 การวิเคราะห์และแผนการปรับปรุง</div>
      <div class="section3-wrap">
        <div class="section2-label">
          1. ข้อควรปรับปรุงสำหรับการสอนครั้งต่อไป
        </div>
        <%reportData.improvements?.map((item) => {%>
        <p>หัวข้อ : <%= item.title %></p>
        <table class="improve-table">
          <thead>
            <tr>
              <th>รายละเอียด</th>
              <th>แสดงรายละเอียดของการปรับปรุง</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ที่มา/เหตุผล</td>
              <td>
                <ul>
                  <%item.reason?.map((ele) => {%>
                  <li><%= ele %></li>
                  <%})%>
                </ul>
              </td>
            </tr>
            <tr>
              <td>การดำเนินการ</td>
              <td>
                <ul>
                  <%item.solution?.map((ele) => {%>
                  <li><%= ele %></li>
                  <%})%>
                </ul>
              </td>
            </tr>
            <tr>
              <td>การประเมินผล</td>
              <td>
                <ul>
                  <%item.evaluation?.map((ele) => {%>
                  <li><%= ele %></li>
                  <%})%>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <%})%>
        <div class="sign-area">
          <p>
            ลงชื่อ .........................................................
          </p>
          <p>(<%= reportData.teachers[0] %>)</p>
          <p>ผู้จัดทำ</p>
          <p>วันที่ <%= reportData.reportDate %></p>
        </div>
      </div>
    </div>
    <div class="page" contenteditable="true">
      <div class="section4-head">การทวนสอบการประเมินผลการเรียนรู้</div>
      <div class="section4-wrap">
        <table class="sum-table">
          <thead>
            <tr>
              <th>วิธีการทวนสอบ</th>
              <th>สรุปผล</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul>
                  <%reportData.assesment?.map((ele) => {%>
                  <li><%= ele %></li>
                  <%})%>
                </ul>
              </td>
              <td>
                <ul>
                  <%reportData.summary?.map((ele) => {%>
                  <li><%= ele %></li>
                  <%})%>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="sign-table">
          <tbody>
            <tr>
              <td>ประธานหลักสูตร</td>
              <td>กรรมการหลักสูตร</td>
              <td>กรรมการหลักสูตร</td>
            </tr>
            <tr>
              <td>ประธานหลักสูตร</td>
              <td>กรรมการหลักสูตร</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <p>(กรุณาเซ็นชื่อพร้อมลงชื่อกำกับ)</p>
      </div>
    </div>
  </body>
</html>
